* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body>*,
.top-container>*,
.sidebar>*,
.sidebar .sidebar-list a {
    border: 1px dashed orange;
    background-color: black;
    color: white;
}

.top-container {
    /* Non serve sapere l'altezza della navbar perchè si adatta automaticamente */
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

.overflow {
    overflow: auto;
}

.bottom-navbar {
    flex-shrink: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.album {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;


}

.album .album-icon {
    display: inline-block;
}

.img-album img {
    width: 100%;
    height: 100%;
    display: block;
}


.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar .top-section {
    flex-shrink: 0;
}

.sidebar .middle-section {
    flex-grow: 1;
    overflow: auto;
}

.sidebar .middle-section .playlist-container {
    display: none;
}

.sidebar .bottom-section {
    flex-shrink: 0;
}

.sidebar .sidebar-list {
    list-style: none;
}

.sidebar .sidebar-list .logo-large {
    display: none;
}

.sidebar .sidebar-list a {
    display: flex;
    padding: 1rem;
    justify-content: center;
    text-decoration: none;
}

.sidebar .sidebar-list .list-item-text {
    display: none;

}



.main-container {
    /* Non serve sapere la larghezza della sidebar perchè si adatta automaticamente */
    overflow: hidden;
    display: flex;
    flex-direction: column;


}

.upgrade-container {
    flex-shrink: 0;
    height: 50px;




}

.main-container .main-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;



}

.menu-container {
    padding: 0 30px;
    border: 1px dashed red;


}

.menu-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;

}

.cards {
    display: flex;
    flex-wrap: wrap;

}

.cards-title {
    color: red;
}

.col {
    padding: 10px 10px;
}

.colxs-1-2 {
    flex-basis: 50%;
}

.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 10px;
}


.pad-10 {
    padding: 10px 0;
}

.pad-20 {
    padding: 20px 0;
}

.pad-30 {
    padding: 30px 0;
}

.margin-10 {
    margin: 10px 0;
}

.margin-20 {
    margin: 20px 0;
}

.margin-30 {
    margin: 30px 0;
}

.small-text {
    font-size: 0.8rem;
}

.medium-text {
    font-size: 1rem;
}

.large-text {
    font-size: 1.2rem;
}

.xlarge-text {
    font-size: 1.5rem;
}