* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #141922;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #A3A3A3;

}

html {
    font-size: 12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




.sidebar,
.sidebar .sidebar-list a {

    color: var(--grey);

}

.top-container {
    /* Non serve sapere l'altezza della navbar perchè si adatta automaticamente */
    flex-grow: 1;
    overflow: hidden;
    display: flex;

}

.overflow {
    overflow: auto;
    background-color: var(--blue);

}

.bottom-navbar {
    flex-shrink: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.album {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;


}

ul {
    list-style: none;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.card-text h3 {
    color: var(--white);

    margin-top: 10px;
}

.card-text p {
    color: var(--grey);
}

.album .album-icon {
    display: inline-block;
}

.img-album img {
    width: 100%;
    height: 100%;
    display: block;
}


.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--black);

}

.sidebar .top-section {
    flex-shrink: 0;
    font-size: 2rem;
}

.sidebar .middle-section {
    flex-grow: 1;
    overflow: auto;
    padding-left: 15px;
}

.playlist-container .crea-playlist {
    display: flex;

}

.playlist-container h4 {
    color: var(--white);

}



.crea-playlist .square {
    width: 35px;
    height: 35px;
    background-color: #A3A3A3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: var(--black);


}

.sidebar .middle-section .playlist-container {
    display: none;

}

.sidebar .bottom-section {
    flex-shrink: 0;
}

.sidebar .sidebar-list {
    list-style: none;
}

.sidebar .sidebar-list .logo-large {
    display: none;
}

.sidebar .sidebar-list a {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    text-decoration: none;
}

.sidebar .sidebar-list a:hover {
    color: var(--white);
    border-left: yellowgreen 2px solid;
}


.sidebar .sidebar-list .list-item-text {
    display: none;

}

.middle-section .playlist-container ul li :hover {
    color: var(--white);
}


.main-container {
    /* Non serve sapere la larghezza della sidebar perchè si adatta automaticamente */
    overflow: hidden;
    display: flex;
    flex-direction: column;


}

.upgrade-container {
    flex-shrink: 0;
    height: 100px;
    display: flex;
    justify-content: end;
    padding: 20px 0;
    background-color: var(--black);

}

.upgrade-container button {
    color: white;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid white;
    padding: 15px 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-container button:hover {
    background-color: var(--grey);
    color: var(--black);
}

.main-container .main-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;



}

.menu-container {
    padding: 0 30px;
    background-color: var(--blue);

}

.menu-container ul li:hover {

    font-weight: bold;
    border-bottom: yellowgreen 2px solid;
}

.menu-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;

    color: var(--white);
}

.cards {
    display: flex;
    flex-wrap: wrap;

}

.cards-title {
    color: var(--white);
    margin-left: 10px;

}

.col {
    padding: 10px 10px;
}

.colxs-1-2 {
    flex-basis: 50%;
}

.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 10px;
}


.pad-10 {
    padding: 10px 0;
}

.pad-20 {
    padding: 20px 0;
}

.pad-30 {
    padding: 30px 0;
}

.margin-10 {
    margin: 10px 0;
}

.margin-20 {
    margin: 20px 0;
}

.margin-30 {
    margin: 30px 0;
}

.small-text {
    font-size: 0.8rem;
}

.medium-text {
    font-size: 1rem;
}

.large-text {
    font-size: 1.2rem;
}

.xlarge-text {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.border-bottom {
    border-bottom: 1px solid #A3A3A3;
    width: 80%;
    margin-left: 10px;

}

.white {
    color: var(--white);
}